import colony.database
import colony.gui.app
import colony.gui.interfaces
import urwid.curses_display
import zope.component

$options.eggs

if __name__ == '__main__':
    tui = urwid.curses_display.Screen()
    database = colony.database.Database($buildout['config'])
    zope.component.provideUtility(database, colony.interfaces.IDatabase)
    app = colony.gui.app.Application(tui, $buildout['config'])
    zope.component.provideUtility(app,
                                  colony.gui.interfaces.IApplication)
    tui.run_wrapper(app.run)

